<div class="col-12">
	<div class="row mb-3">
		<div class="col-12">
			[%advert type:'text' category:'0' ad_group:'home-top-banner' template:'autobanner' limit:'1'/%]
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-8">
			[%advert type:'text' category:'0' ad_group:'home-top-feature' template:'autobanner' limit:'1'/%]
		</div>
		<div class="col-4 d-flex flex-column">
			[%advert type:'text' category:'0' ad_group:'home-top-side' template:'backgroundbanner' limit:'3'/%]
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-12 col-sm-6 mb-0 mb-sm-1">
			[%advert type:'text' category:'0' ad_group:'home-top-bottom' template:'autobanner' limit:'1'/%]
		</div>
		<div class="col-12 col-sm-6">
			[%advert type:'text' category:'0' ad_group:'home-top-bottom' template:'autobanner' limit:'1'/%]
		</div>
	</div>

	<div class="h-home my-5">SHOP <span>POPULAR</span> BRANDS</div>
	[%advert type:'text' category:'0' ad_group:'home-brands' template:'autobanner' limit:'10'%]
		[%param *header%]
			<div class="row row-cols-2 row-cols-md-5 mb-3">
		[%/param%]
		[%param *body%] 
				<div class="col px-3" style="height: 6rem;">
					<a class="award-banner award-backgroundbanner" href="[@url@]">
						<div style="background-size: contain; background-image:url('[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/param%][%/asset_url%]')"></div>
					</a>
				</div>
		[%/param%]
		[%param *footer%]
			</div>
		[%/param%]
	[%/advert%]
	
	[%advert type:'product' limit:'32' template:'' ad_group:'home-section-1'%]
		[%param *header%]
			<div class="h-home my-5">MEGA <span>CHRISTMAS</span> DEALS</div>
			<section class="row products-row" aria-label="Featured products">
		[%/param%]
		[%param footer%]
			</section>
		[%/param%]
	[%/advert%]

	<div class="h-home my-5">OUR <span>TOP</span> PICKS</div>

	<div class="mb-3">
		[%advert type:'product' limit:'8' template:'' ad_group:'home-featured-products'%]
			[%param *header%]
				<section class="row products-row" aria-label="Featured products">
			[%/param%]
			[%param footer%]
				</section>
			[%/param%]
		[%/advert%]
	</div>

	<div class="row mb-3" style="background-color: #f6f6f6; border-radius: 1rem;">
		<div class="d-none d-md-block col-6">
			<div style="background-image:url('[@config:imageurl@]/awardres/ShopPromo1.webp'); background-position: center; background-size: cover; width: 100%; height: 100%; border-radius: 1rem;"></div>
		</div>

		<div class="col-12 d-md-none">
			<div style="background-image:url('[@config:imageurl@]/awardres/ShopPromo1.webp'); background-position: center; background-size: cover; width: 100%; height: 25rem; border-radius: 1rem;"></div>
		</div>
		
		<div class="col-12 col-md-6 p-5" style="padding-bottom: 5rem !important; padding-top: 5rem !important;">
			<h1>Australia's Largest Collection of Caravan Parts & Accessories</h1>
			<p>The Southern Hemisphere’s largest caravan and camping accessory store is Award RV, with 3,000 square meters of parts, appliances, caravan, and car accessories! If you love getting out and exploring the country, Award RV has all the gear you need for any kind of holiday, and plenty of friendly advice when you need it. Need some advice on parts and accessories? Come and say hello at Burwood Highway, Ferntree Gully, Victoria, our team is ready to help and you’ll leave feeling like a part of the Award RV family. </p>
		</div>
	</div>

	<div class="h-home my-5">SHOP <span>POPULAR</span> CATEGORIES</div>
	[%advert type:'text' category:'0' ad_group:'home-popular-categories' template:'autobanner' limit:'8'%]
		[%param *header%]
			<div class="row row-cols-2 row-cols-md-4 mb-3">
		[%/param%]
		[%param *body%] 
				<div class="col mb-3" >
					<a href="[@url@]"><img class="award-banner" style="height: auto; width: 100%;" src="[%asset_url type:'adw' id:'[@ad_id@]' default:'[@config:ASSETS_URL@]/pixel.gif'%][%END asset_url%]" alt="[@headline@]"></a>
				</div>
		[%/param%]
		[%param *footer%]
			</div>
		[%/param%]
	[%/advert%]

	<div class="h-home my-5">OUR <span>NEW</span> ARRIVALS</div>
	
	<div class="mb-3">
		[%advert type:'product' limit:'8' template:'' ad_group:'home-new-products'%]
			[%param *header%]
				<section class="row products-row" aria-label="New products">
			[%/param%]
			[%param footer%]
				</section>
				<hr aria-hidden="true"/>
			[%/param%]
		[%/advert%]
	</div>

	<div class="d-flex">
		<a class="btn btn-primary mx-auto" href="https://www.awardrv.com.au/new-arrivals/" role="button">See All New Arrivals <i class="fa fa-chevron-right ml-1"></i></a>
	</div>

	<div class="h-home my-5">SHOP <span>POPULAR</span> PRODUCTS</div>
	<div class="row mb-3">
		[%thumb_list type:'products' filter_has_save:'1' template:'' filter_category:'' limit:'8'/%]
	</div>

	<!-- Featured Blog Posts -->
	<div class="h-home my-5">OUR <span>POSTS</span></div>
	[%thumb_list type:'content' content_type:'blog' limit:'3' sortby:'date_posted-desc'%]
		[%param *header%]
			<section class="row my-3 text-center" aria-label="Our Posts">
				<div class="col-12">
					<div class="row">
		[%/param%]
		[%param *body%]
						<article class="col-6 col-lg-4 mb-3 d-flex flex-column">
							<a href="[@URL@]">
								<img src="[%ASSET_URL type:'content' id:'[@content_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/param%][%/ASSET_URL%]" alt="[@content_name@]" class="img-fluid rounded-lg"/>
							</a>
							[%if [@content_short_description1@]%]
								<p class="mt-3">[%format type:'text' rmhtml:'1' truemaxlength:'210'%][@content_short_description1@][%/format%]</p>
							[%else%]
								<p class="mt-3">[%format type:'text' rmhtml:'1' truemaxlength:'210'%][@content_description1@][%/format%]</p>
							[%/if%]
							<a href="[@URL@]" class="btn btn-primary btn-block mt-auto">Read Full Post</a>
						</article>
		[%/param%]
		[%param *footer%]
					</div>
				</div>
			</section>
		[%/param%]
	[%/thumb_list%]

	
	<div class="row">
		<div class="col-12 p-3">
			<div class="h3">Caravan and RV Parts and Accessories</div>
			<p>Stocking the top-of-the-line brands like Camec, Coast to Coast, Aussie Traveller, Century batteries, AL-KO parts, REDARC electronics, NARVA lighting and electrical, and Thetford caravan appliances and accessories - Award RV has everything you need to fit out your caravan, RV, or 4x4 from top to bottom, front to back, inside and out. </p>
			<p>Whether it’s a weekend away or you’re doing the Big Lap, Award RV has the right parts and accessories for your caravan so you can travel in comfort.</p>

			<div class="h3">Camping Accessories</div>
			<p>As Australia’s largest camping accessory store, we can set you up with all the good stuff you’ll want for your next camping trip, with more tents and accessories than anywhere else in the country. </p>
			<p>Our massive range is much more than just tents and swags, we’ve got sleeping bags, portable lighting, camp kitchen accessories, water heaters, camp toilets, and plenty of advice if you aren’t sure what you’ll need. </p>

			<div class="h3">4WD and Car Accessories</div>
			<p>Kitting out your four-by is easier than ever with Award RV, we’ve got parts and accessories to get you trekking out in the bush, and then back again if you get yourself stuck. From compressors and UHF radios to recovery & repair equipment and awnings, we’ll help you get where you want to go.</p>

			<div class="h3">Workshop and Installs</div>
			<p>Award RV’s fully equipped workshop can take care of everything – from massive Victron Energy off-grid installations and full wire-ups to Girard hot water heater upgrades, Dometic and Fiamma awning installs, and AUFocus diesel heater fitments. Our experienced technicians ensure every part is installed to the highest standard, letting you drive off with confidence for your next adventure.</p>
		</div>
	</div>
</div>
