<!-- The sidebar include happend here -->
<div> 
[%breadcrumb%]
	[%param *header%]
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="[@config:home_url@]" itemprop="item"><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
	[%/param%]
	[%param *body%]
				<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="[@url@]" itemprop="item"><span itemprop="name">[@name@]</span></a>
					<meta itemprop="position" content="[%calc [@count@] + 1 /%]" />
				</li>
	[%/param%]
	[%param *footer%]
			</ol>
		</nav>
	[%/param%]
[%/breadcrumb%]
[%advert type:'text' template:'autobanner' limit:'1' ad_group:'webpage-banner'%]
    [%param *header%]
        <div class="mb-3">
    [%/param%]
    [%param footer%]
        </div>
    [%/param%]
    [%param *ifempty%]
		<h1 class="display-4">
			[%url_info name:'page_heading' default:'[@content_name@]'/%]
		</h1>
    [%/param%]
[%/advert%]
<div>
	[%advert type:'text' category:'0' ad_group:'meganav-explore' template:'autobanner' limit:'8'/%]
</div>
<p class="mb-5">Welcome to our New Arrivals! Updated Monthly! Discover the latest caravan accessories tailored for the Aussie adventurer. From high-tech solar panels to space-saving storage, our new products are designed to enhance your travels. Check back regularly to find premium items that make your journey more enjoyable.</p>
[%advert type:'product' limit:'50' template:'' ad_group:'new-products'%]
	[%param *header%]
		<section class="row products-row" aria-label="Featured products">
	[%/param%]
	[%param footer%]
		</section>
		<hr aria-hidden="true"/>
	[%/param%]
[%/advert%]
</div>
