<div class="col-12">
	<div class="page-header"><h1>Login</h1></div>
	[%TRIM inner:'1'%]
		[%param body%]
		[%show_message severity:'error'%]
			[%param *body%]<div class="alert alert-danger" role="alert"><a class="close" data-dismiss="alert">×</a><i class="fa fa-exclamation-triangle"></i> [@info_msg@]</div>[%/ param%]
		[%/ show_message%]
		[%/ param%]
	[%/ TRIM%]
	<div class="row mb-5 mb-md-3">
		<div class="col-12 col-md-5 d-flex align-items-center">
			<form id="login" style="width: 100%;" method="post" action="[%URL page:'account' type:'login'%][%/ URL%]">
				<input type="hidden" name="redirect" value="[@redirect@]">
				<div class="card" >
					<div class="card-header h3 bg-white">Log In</div>
					<div class="card-body d-flex flex-column">
						<div class="form-group">
							<div class="col-12 ">
								<div class="form-group">
									<label for="username">E-mail Address</label>
									<input type="text" id="username" name="username" class="form-control" value="[%nohtml%][@username@][%end nohtml%]" size="25" placeholder="name@example.com" required/>
									<p class="form-text text-muted small d-none"><a href="[%URL page:'account' type:'forgotusr'%][%/ URL%]"><i class="fa fa-question-circle"></i> Forgot your username?</a></p>
								</div>
							</div>
							<div class="col-12">
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" id="password" name="password" class="form-control" value="[%nohtml%][%end nohtml%]" size="25" autocomplete="off" required/>
									<p class="form-text text-muted small"><a href="[%URL page:'account' type:'forgotpwd'%][%/ URL%]" aria-label="Click if you forgot your password"><i class="fa fa-question-circle"></i> Forgot your password?</a></p>
								</div>
							</div>
						</div>
						<button name="submit" type="submit" class="btn btn-primary btn-block"><i class="fa fa-user"></i> Login Now</button>
						<span class="mt-3" >Don't have an account? <a href="[%url page:'account' type:'register'/%]">Register Here!</a></span>
					</div>
				</div>
			</form>
		</div>
		<div class="d-none d-md-flex align-items-center col-12 col-md-7">
			<img class="rounded-xl m-auto" style="width: 70%; height: auto;" src="[@config:imageurl@]/LoginImage2.webp" alt="[@config:company_name@] logo"/>
		</div>
	</div>
</div>
[%GA_FUNNEL%]/user/login.html[%/ GA_FUNNEL%]
