<div class="">
	<meta itemprop="itemCondition" content="NewCondition">
	<meta itemprop="brand" content="[@brand@]"/>
	<meta itemprop="sku" content="[@sku@]"/>
	<div class="wrapper-product-title">
		

		[%if [@available_preorder_quantity@] > 0 AND [@preorder@] AND [@config:WEBSTORE_USE_PREORDER_QUANTITY@]%]
			<span itemprop="availability" content="http://schema.org/PreOrder" class="badge badge-warning mb-1">Pre-order - Released [%format type:'date'%][@arrival_date@][%/format%]</span>
		[%elseif [@store_quantity@] > 0 AND [@preorder@] AND ![@config:WEBSTORE_USE_PREORDER_QUANTITY@]%]
			<span itemprop="availability" content="http://schema.org/PreOrder" class="badge badge-warning mb-1">Pre-order - Released [%format type:'date'%][@arrival_date@][%/format%]</span>
		[%elseif [@store_quantity@] > 0 AND ![@preorder@] %]
			<span itemprop="availability" content="http://schema.org/InStock" class="badge badge-success mb-1">In Stock</span>
		[%elseif [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
			<span itemprop="availability" content="http://schema.org/LimitedAvailability" class="badge badge-danger mb-1">Sold Out - Backorder Available</span>
		[%else%]
			<span itemprop="availability" content="http://schema.org/OutOfStock" class="badge badge-danger mb-1">Sold Out</span>
		[%/if%]

		<h5 class="mb-0" itemprop="brand" aria-label="Product Brand">
			[@brand@]
		</h5>

		<h1 class="font-weight-bolder product-title" itemprop="name" aria-label="Product Name">
			[@name@]
		</h1>

		[%if [@subtitle@]%]
			<h3 class="text-muted" role="heading" aria-label="Product Subtitle">[@subtitle@]</h3>
		[%/if%]

		[%set [@review_sku@]%][%if [@parent_sku@]%][@parent_sku@][%else%][@sku@][%/if%][%/set%]
		[%load_ajax_template id:'_reviews' type:'item' template:'reviews' preload:'1' tmpl_sku:'[@review_sku@]' /%]

	</div>
	[%if ![@has_child@] || [@has_variation@]%]
		<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="wrapper-pricing">
			<link itemprop="url" href="[@url@]"/>
			<meta itemprop="priceCurrency" content="[@config:defaultcurrency@]">
			[%if ![@inpromo@]%]
				<div class="h1 font-weight-bolder my-3" itemprop="price" content="[@store_price@]" aria-label="Store Price">
					[%FORMAT type:'currency'%][@store_price@][%/FORMAT%]
				</div>
				[%if [@save@] > 0%]
					<div class="productrrp text-muted small" aria-label="RRP Price">
						<s>RRP [%FORMAT type:'currency'%][@retail@][%/FORMAT%]</s>
					</div>
					<div class="productsave small" aria-label="Save Price">
						SAVE [%format type:'currency'%][@save_price@][%/format%] ([%format type:'percent'%][@save@][%/format%])
					</div>
				[%/if%]
			[%else%]
				<!-- <div class="productwasprice h3" aria-label="Was price">
					WAS [%FORMAT type:'currency'%][@store_price@][%/FORMAT%]
				</div> -->
				[%if [@save@] > 0%]
					<div class="productrrp text-muted small" aria-label="RRP Price">
						<s>RRP [%FORMAT type:'currency'%][@retail@][%/FORMAT%]</s>
					</div>
				[%/if%]
				<div class="productpromo h1 font-weight-bolder my-3" itemprop="price" content="[@promo_price@]" aria-label="Promo Price">
					NOW [%FORMAT type:'currency'%][@promo_price@][%/FORMAT%]
				</div>

				<div class="rounded bg-sale p-2 text-white" style="width: max-content;">
					[%if [@save@] > 0%]
						<div class="productsave small" aria-label="Save Price"> 
							SAVE [%format type:'percent'%][@save@][%/format%]
						</div>
					[%/if%]

					<div class="productsavetext font-weight-bold">
						Sale Ends in <span id="sale-end" class="time"></span>
					</div>

					<div class="time-text small" itemprop="priceValidUntil" content="[%format type:'date' format:'#Y-#M-#d'%][@promo_end@][%END format%]">
						[%format type:'date' format:'#w #d #K #Y'%][@promo_end@][%/format%]
					</div>
				</div>
			[%/if%]

			[%if [@form:disable_scripts@] ne 'true'%]
			[%tracking_code type:'BuyingOptions' /%]
			[%/if%]
			


			[%if [@availability_description@]%]
				<div class="availability_description">
					[@availability_description@]
				</div>
			[%/if%]
			
		</div>
	[%/if%]
</div>
