.fullwidth {
    //margin-left: -15px;
    //margin-right: -15px;
    padding: 0;
}

.bg-accent{
    background-color: $accent;
}

.text-accent{
    color: $accent;
}

// Custom Header Styles

.header-button {
    font-size: 0.7rem;
    margin-left: 0.5rem;

    i {
        font-size: 1.2rem;
        text-decoration: none;
    }
}

// Mega Navigation Styles

.meganav {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 30;
}

li.meganav-toggle {
    background-color: $primary;
    padding: 0 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a.meganav-toggle {
    color: $white !important;
}

.meganav-title {
    font-size: 1.3rem;
}

.meganav-level-1 {
    font-size: 1.1rem;
    font-weight: 700;
    transition: all ease-in-out 100ms;

    &:hover {
        cursor: pointer;
        margin-left: 0.1rem;
        color: $primary;
    }
}

.meganav-level-2 {
    font-size: 1rem;
    font-weight: 600;
}

.meganav-level-3 {
    font-size: 0.8rem;
    font-weight: 400;
}

.meganav-block {
    position: absolute;
    left: 33%;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    overflow-y: hidden;

    .megagrid {
        display: grid;
        grid-template-columns: auto auto;
    }
}

.active-block {
    display: block;
}